@import url('https://fonts.googleapis.com/css2?family=Exo&family=Roboto&display=swap');

body {
    background-color: #333333;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}
/*** Colours ***/

.ui-menu-color-download {
    background-color: pink;
}
.ui-menu-color-home {
    background-color: red;
}
.ui-menu-color-features {
    background-color: blue;
}
.ui-menu-color-report {
    background-color: yellow;
}

/*** Header ***/

header { 
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}
#nav li {
    font-size: 14px;
}



.menu-item {
    text-align: center;
    height: 70px;
    margin-top: 11%;
}
.menu-item a {
    width: 100%;
    text-decoration: none;
    color: white;
    height: 100%;
}

.menu-item a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.navbar {
    height: 100px;
    
}

.logo {
    height: 100%;
}

.logo img {
    height: 100%;
    background-color: #007777;
    border-radius: 100%;
    border-style: solid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.download-icon {
    text-align: center;
    color: #AAA;
    font-size: x-large;
}
.download-icon:hover {
    color: #999;
}
.navbar-nav {
    width: 100%;
}
.navbar-nav li {
    background-color:#333;
    color: black;
    border-radius: 10px;
    border-color: #777777;
    border-style: groove;
    text-align: center;
}
.navbar-nav li:hover {
    background-color: #222;
}
@media (min-width: 768px) {
    .navbar {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 50px;
        margin-bottom: 30px;
        border-radius: 25px;
        padding: 20px;
        height: 70px;
    }
    .logo {
        position: absolute;
        left: -70px;
        height: 250%;
    }
}
/** footer **/

footer {
    background-color: #FFFD;
    padding-top: 20px;
    text-align: center;
    position: fixed;
    bottom:0;
    height: auto;
}


/** Section **/
.videoContainer { /* https://css-tricks.com/fluid-width-video/ */
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  margin: 5%;

}
#centerSection {
    width: 90%;
    margin: 0 5% 110px 5%;
    background-color: #FFF1;
    border-radius: 20px;
    padding: 20px;
}

.demo-img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}