@import url('https://fonts.googleapis.com/css2?family=Exo&family=Roboto&display=swap');

/*setting default font and background colours*/
body {
    background-color: #333333;
    font-family: exo, sans-serif;
    color: #DDD
}
/*removing normal hyperlink formating*/
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
}


/* General things*/
.general-header {
    font-family: roboto, sans-serif;
    font-weight: 600;
    color: #fafafa;
}

/*** Header ***/

header { 
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}
#nav li {
    font-size: 14px;
}


.navbar {
    height: 100px;
    
}

.logo {
    height: 100%;
}

/*makes the logo icon a cyan circle with a grey border*/ 
.logo img {
    height: 100%;
    background-color: #007777;
    border-radius: 100%;
    border-style: solid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: #333;
}

.download-icon {
    text-align: center;
    font-size: x-large;
}
.download-icon a {
    
    color: #AAA;
}
.download-icon:hover {
    color: #999;
}
.navbar-nav {
    width: 100%;
}
/*formats each item in the navbar dropdown to look like buttons*/
.navbar-nav li {
    background-color:#333;
    color: black;
    border-radius: 10px;
    border-color: #777777;
    border-style: groove;
    text-align: center;
    text-transform: uppercase;
    
    font-family: "Roboto", sans-serif;
}
/*current page slightly lighter colour*/
.navbar-nav .active {
    background-color: #444;
}
/*current selected option slightly darker colour*/
.navbar-nav li:hover {
    background-color: #222;
}
/*changes format of topbar when not in a mobile layout*/
@media (min-width: 768px) {
    /*makes navbar not a full bar, and instead an inset rectangle*/
    .navbar {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 50px;
        margin-bottom: 30px;
        border-radius: 25px;
        padding: 20px;
        height: 70px;
    }
    /*increases logo size and moves it so its sticking out of the top bar slightly*/ 
    .logo {
        position: absolute;
        left: -70px;
        height: 250%;
    }
}
/** footer **/
/*places footer at the bottom of the screen at all times and is slightly transparent.*/
footer {
    background-color: #FFFD;
    padding-top: 20px;
    text-align: center;
    position: fixed;
    bottom:0;
    height: auto;
    color: #222;
    font-family: roboto, arial;
}

/** Section **/
/*makes main section slightly thinner than the whole page so there is a dark border*/
#centerSection {
    width: 90%;
    margin: 0 5% 110px 5%;
    background-color: #FFF1;
    border-radius: 20px;
    padding: 20px;
}

/*two images loaded so that it changes when screen size is above md scale
first one has a gradient of transparency, second doesnt
first keeps vertical height consistent, second keeps horizontal height consistent*/
.demo-img-small {
    background: url("/assets/img/collisionsPreview.png") no-repeat center center;
    background-size: auto 100%;
    height: 100%;
}
.demo-img {
    background: url("/assets/img/collisionsPreviewGradient.png") no-repeat center bottom;
    background-size: auto 400px;
    width: 100%;
    height: 400px;
    
}
/** index **/
/*is a box of aspect ratio 16:9 so the video fills it up correctly*/
.videoContainer { /* https://css-tricks.com/fluid-width-video/ */
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  margin: 5%;

}


.demo-link {
    color: #ffe;
}
.demo-link:hover {
    color: purple;
}
/* Report Page */

.bug-report-section {
    border-bottom-width: 4px;
    border-bottom-style: dotted;
}

.example-report {
    border-width: 3px;
    border-style: dashed;
    border-radius: 10%;
    border-color: #333;
    background-color: #FFF1;
    margin: 0 10% 0 10%;
    width: 80%;
}
input[type="radio"] {
    margin-left: 30px;
}

/* Features Page */
.carousel {
    background-color: #0003;
    padding: 10px;
    border-radius: 30px;
}
.carousel-inner {
    border-radius: 30px;
}
.carousel-caption {
    color: white;
    background-color: #2228;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 30px;
}
.carousel-caption p {
    font-weight: 200;
    font-size: 13px;
    text-transform: none;

}
.carousel-caption .progress {
    color: black;
}